$border-color: #e9ecef;
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    // position: relative;
}
.playing-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: auto;
    padding-top: 120px;
}
.first-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}
#start-new-game-btn {
    width: 100%;
    height: 34px;
    margin-top: 20px;
    text-transform: uppercase;
}
.modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 300px;
        background-color: #fff;
        border: 1px solid $border-color;
        padding: 16px 32px;
        border-radius: 32px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    &__header {
        width: 100%;
        display: flex;
    }
    &__close-btn {
        font-size: 24px;
        margin-left: auto;
    }
}

.intro-block {
    display: flex;
    flex-direction: column;

    &__btn {
        margin-bottom: 15px;
        min-height: 34px;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
        cursor: pointer;
        &:hover {
            background-position: right center;
            // color: #fff;
            text-decoration: none;
        }
    }
}

.hide {
    display: none;
}

